# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
dist/
/npm-debug.log

# wip
_assets_wip/

# assets
src/assets/bg/bg-interior1.png
src/assets/bg/bg-interior2.png
